// 黑色字体颜色
@text-color: #333;

// 主题颜色
@color-theme: #31C27C;
@active-color: #31C27C;
@background-color: #FFF;
@color-white: #FFF;

// 边框颜色
@border-color: #e4e4e4;

@fs-small-s: 10px;
@fs-small: 12px;
@fs-medium: 14px;
@fs-medium-x: 16px;
@fs-large: 18px;
@fs-large-x: 22px;

// 颜色定义规范
@color-background: #222;
@color-background-d: rgba(0, 0, 0, 0.3);
@color-highlight-background: #333;
@color-dialog-background: #666;
@color-theme-d: rgba(255, 205, 49, 0.5);
@color-sub-theme: #d93f30;
@color-text: #fff;
@color-text-d: rgba(255, 255, 255, 0.3);
@color-text-l: rgba(255, 255, 255, 0.5);
@color-text-ll: rgba(255, 255, 255, 0.8);

// 超出几行省略号
.mul-ellipsis(@lines, @color: #666){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color: @color;
  -webkit-line-clamp: @lines;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
}

.ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 不换行
.no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 扩展点击区域
.extend-click() {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}